<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GuardarUsuario</servlet-name>
        <servlet-class>Controlador.GuardarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarUsuario</servlet-name>
        <servlet-class>Controlador.VerificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recuperar1</servlet-name>
        <servlet-class>Controlador.Recuperar1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recuperar2</servlet-name>
        <servlet-class>Controlador.Recuperar2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuspenderUsuario</servlet-name>
        <servlet-class>Controlador.SuspenderUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NombreGrupo</servlet-name>
        <servlet-class>Controlador.NombreGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarAlumnos</servlet-name>
        <servlet-class>Controlador.ConsultarAlumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestPersonalidad</servlet-name>
        <servlet-class>Controlador.TestPersonalidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestEconomico</servlet-name>
        <servlet-class>Controlador.TestEconomico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarRendimiento</servlet-name>
        <servlet-class>Controlador.MostrarRendimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirArchivo</servlet-name>
        <servlet-class>Controlador.SubirArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RendimientoA</servlet-name>
        <servlet-class>Controlador.RendimientoA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Filtrado</servlet-name>
        <servlet-class>Controlador.Filtrado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RendimientoG</servlet-name>
        <servlet-class>Controlador.RendimientoG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RendimientoG2</servlet-name>
        <servlet-class>Controlador.RendimientoG2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuardarUsuario</servlet-name>
        <url-pattern>/GuardarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarUsuario</servlet-name>
        <url-pattern>/VerificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recuperar1</servlet-name>
        <url-pattern>/Recuperar1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recuperar2</servlet-name>
        <url-pattern>/Recuperar2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuspenderUsuario</servlet-name>
        <url-pattern>/SuspenderUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NombreGrupo</servlet-name>
        <url-pattern>/NombreGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarAlumnos</servlet-name>
        <url-pattern>/ConsultarAlumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestPersonalidad</servlet-name>
        <url-pattern>/TestPersonalidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestEconomico</servlet-name>
        <url-pattern>/TestEconomico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarRendimiento</servlet-name>
        <url-pattern>/MostrarRendimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirArchivo</servlet-name>
        <url-pattern>/SubirArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RendimientoA</servlet-name>
        <url-pattern>/RendimientoA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RendimientoG</servlet-name>
        <url-pattern>/RendimientoG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Filtrado</servlet-name>
        <url-pattern>/Filtrado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RendimientoG2</servlet-name>
        <url-pattern>/RendimientoG2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            C:\Program Files\Apache Software Foundation\Apache Tomcat 8.0.27\webapps\data\
        </param-value>
    </context-param>
</web-app>
